<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ooad_jd1707/src/com/briup/day03/decoratortest/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.briup.day03.decoratortest.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ooad_jd1707"/>
</launchConfiguration>
